{% extends "base.html"%}
{% block title %}All Breeds{% endblock %}
{% block head%}
{{super()}}
  <style>
    body {
      padding: 75px;
    }
    img {
      height: 100;
      width: 100;
      border-radius:180px;
    }
  </style>
{% endblock %}
{% block page_content%}

<div class="container">
  <h1 class="mt-5"><i class="fa fa-trophy" aria-hidden="true"></i> Breeds:</h1>
  <div class="row bottom-margin">
    <a href="/breed/add" class="btn btn-primary" role="button" aria-disabled="true">Add Breeds</a>
  </div>
  {% if breed %}
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Size</th>
        <th>Color</th>
        <th>Description</th>
        <th>Group</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for breed in breed %}
      <tr>
        <th scope="row">{{breed.id}}</th>
        <td>{{breed.name}}</td>
        <td>{{breed.size}}</td>
        <td>{{breed.color}}</td>
        <td>{{breed.description}}</td>
        <td>{{breed.group.name}}</td>
        <td>
          <!--  view lyrics button trigger modal -->
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#{{breed.id}}">View</button>
          <!-- Modal -->
          <div class="modal fade" id="{{breed.id}}" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{breed.name}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div>
                <div class="modal-body">
                  <pre>Size: {{breed.size}}</pre>
                  <pre>Color(s): {{breed.color}}</pre>
                  <pre>Belongs to the: {{breed.group.name}}</pre>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <a href="/breed/edit/{{breed.id}}" class="btn btn-success" role="button" aria-disabled="true">Edit</a>
          <a href="/breed/delete/{{breed.id}}" class="btn btn-danger" role="button" aria-disabled="true">Delete</a>
          <button class="btn btn-warning delete_ajax_btn" data-breed-id={{breed.id}}>Delete Ajax</button>
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h3>There are no breeds in the database yet.</h3> {% endif %}
</div>

{% endblock %}

{% block scripts %}
{{super()}}
<script>
  $(document).ready(function() {
    $(".delete_ajax_btn").click(function(event) {
      var breed_id = $(this).data("breed-id");
      var row = $(this).parent().parent();
      swal({
          title: "Are you sure?",
          type: "warning",
          html: true,
          showCancelButton: true,
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "Yes, delete it!",
          closeOnConfirm: false,
          showLoaderOnConfirm: true
        },
        function(isConfirm) {
          if (isConfirm) {
            $.ajax({
                type: "DELETE",
                url: "/ajax/breed/" + breed_id,
                success: function(response) {
                  console.log(response);
                  row.remove(); // remove the table row
                  swal({
                    title: "Deleted!",
                    text: response.name + " has been deleted.",
                    type: "success",
                    timer: 2500,
                    showConfirmButton: false
                  }); // end of SweetAlert
                } // end of success callback function
              }) // end of ajax call
              .fail(function(error) {
                // console.log(data);
                swal({
                  title: "Oops...",
                  text: "Deletion failed",
                  type: "error",
                  timer: 2000,
                  showConfirmButton: false
                }); // end of SweetAlert
              }); // end of fail callback function
          } // end of if confirmed block
        }); // end of confirmed function of SweetAlert
    }); // end of button click event function
  }); // end doc ready
</script>
{% endblock%}
